.card-item {
  box-sizing: border-box;
  display: block;
  padding: 1rem .5rem 0;
  width: 100%;
  border-bottom: 1px solid colors(border);
}
.card-item-content {
  @extend %clearfix;
  padding: 1rem;
  background-color: colors(main);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.card-img {
  display: block;
  float: left;
  padding: .2rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
}
.card-detail {
  float: left;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-top: .4rem;
  color: #fff;

  .card-name {
    padding-bottom: .5rem;
    font-size: .875rem;
  }
  .card-num {
    font-size: 1rem;
  }
}

.cardDetail-wrap {

  .cardDetail-img {
    display: block;
    float: left;
    padding: .2rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: colors(background);
    border-radius: 50%;
  }
  .cardDetail-content {
    float: left;
    box-sizing: border-box;
    padding-left: .6rem;
    padding-top: .4rem;

    .cardDetail-name {
      padding-bottom: .8rem;
      font-size: .875rem;
      color: colors(main-font);
    }
    .cardDetail-text {
      padding-bottom: .5em;
      font-size: .75rem;
      color: colors(assist-font);
    }
  }
}