@function colors($color) {
  @if not map-has-key($globalColor, $color){
    @warn "No color found for `#{$color}` in $globalColor map. Property omitted.";
  }
  @return map-get($globalColor, $color);
}

@mixin transition($prop, $time) {
  -webkit-transition: -webkit-#{$prop} $time;
  transition: $prop $time;
}

@mixin transform($prop) {
  -webkit-transform: $prop;
  transform: $prop;
}

@mixin  transtionDelay($time) {
  -webkit-transition-delay: $time;
  transition-delay: $time;
}

@mixin  transionTimingFunction($type) {
  -webkit-transition-timing-function: $type;
  transition-timing-function: $type;
}
