.detail-title {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  color: colors(main-font);
  font-size: .75rem;
}

.detail-wrap {
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
  box-shadow: 0 5px 5px rgba(0,0,0,0.15);

  .detail-shade-01,
  .detail-shade-02,
  .detail-shade-bg,
  .detail-circle-01,
  .detail-circle-02,
  .detail-progress-content {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .detail-shade-01 {
    z-index: 20;
    clip: rect(0px, 10rem, 10rem, 5rem);
  }
  .detail-shade-02 {
    z-index: 20;
    clip: rect(0px, 5rem, 10rem, 0px);
  }
  .detail-shade-bg {
    z-index: 15;
    background-color: #fff;
  }
  .detail-circle-01,
  .detail-circle-02 {
    background-color: colors(main);
    top: 0;
    left: 0;
    z-index: 20;
  }
  .detail-circle-01 {
    clip: rect(0px, 10rem, 10rem, 5rem);
    transform: rotate(-100deg);
    -webkit-transform: rotate(-180deg);
  }
  .detail-circle-02 {
    clip: rect(0px, 5rem, 10rem, 0px);
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
  }
  .detail-progress-content {
    box-sizing: border-box;
    padding-top: 3em;
    width: 9.5rem;
    height: 9.5rem;
    background-color: #fff;
    text-align: center;
    top: .25rem;
    left: .25rem;
    z-index: 25;

    .detail-content-title {
      padding-bottom: .5em;
      font-size: .625rem;
      color: colors(sub-font);
    }
    .detail-content-count {
      font-size: 1.5rem;
      color: colors(main-font);
    }
    .detail-content-progress {
      padding-top: .5em;
      font-size: .75rem;
      color: colors(sub-font);
    }
  }
}

.detail-content {
  @extend %shadow;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff;
  
  .detail-deadline {
    padding-bottom: 1rem;
    border-bottom: 1px solid colors(border);

    .detail-deadline-date {
      float: left;
      padding-top: .4em;
      padding-right: .8rem;
      font-size: .75rem;
      color: colors(assist-font);
    }
    .ui-link {
      float: left;
      margin-top: .4em;
    }
    .ui-btn-link {
      float: right;
    }
  }

  .detail-item {
    float: left;
    box-sizing: border-box;
    padding: 1rem 0 1rem .5rem;
    width: 60%;

    &:nth-of-type(2),
    &:nth-of-type(4) {
      padding: 1rem .5rem 1rem 0;
      width: 40%;
      text-align: right;
    }

    .detail-item-amount {
      @extend %clearfix;
      font-size: 1.125rem;
      color: colors(main-font);

      span {
        display: inline-block;
        vertical-align: middle;
      }
      i {
        display: inline-block;
        margin-bottom: .3em;
        width: .3rem;
        height: .3rem;
        background-color: colors(main);
        border-radius: 50%;
      }

      .ui-btn-link {
        padding: .5em 1em;
        font-size: .625rem;
        color: #fff;
        background-color: #76b6e2;
        border-color: #76b6e2;
        vertical-align: middle;

        &:active {
          background-color: #5a9dca;
          border-color: #5a9dca;
        }
      }
    }
    .detail-item-title {
      padding-top: .5em;
      font-size: .625rem;
      color: colors(assist-font);
    }
  }
}

.detail-btn-wrap {
  padding: 1.5rem 0;

  .ui-btn-inline {
    float: left;
    margin-right: 4%;
    width: 48%;

    &:last-of-type {
      margin: 0;
    }
  }
}

.detail-full {
  display: none;

  .detail-full-top {
    box-sizing: border-box;
    margin: -1.5rem -1rem 1rem;
    padding: 2rem 1rem 1rem;
    color: #fff;
    background-color: colors(main);
  }
  .detail-full-amount {
    font-size: 1rem;
    text-align: center;

    span {
      font-size: 3.125rem;
    }
  }
  .detail-full-title {
    padding-top: .5em;
    font-size: .75rem;
    text-align: center;
  }
}
// 钱罐到期提醒
.deposit-remind-wrap{
  position: relative;
}
.set-remind{
  position: absolute;
  top: 0;
  right: 5%;
}
.icon-clock{
  width: 1em;
  height: 1em;
  background-image:url(../images/icon-png/icon-clock.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.detail-remind-dialog{
  display: none;
  padding-top: 46%;
}
.set-remind-dialog{
    background-image: url(../images/dialog-remind-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    .ui-dialog-close{
      background-image:url(../images/icon-png/close-green.png);
    }
}
// 提醒详情
.remind-detail-wrap{
  min-height: 29.5rem;
  .item-info{
    @extend %clearfix;
    .detail-info{
      float: left;
      font-size: 0.75em;
      padding-top: 0.5em;
      color:colors(sub-font);
    }
  }
}
.remind-date-wrap{
  .remind-detail-img{
    width: 2.75rem;
  }
  @extend %clearfix;
  .remind-date{
    text-align: right;
    .date-num{
      font-size: 1.25rem;
      // colors(green) 无效？
      color:#43c996;
    }
    .date-text{
      font-size: 0.75em;
      padding-top: 1em;
      color:colors(sub-font);
    }
  }
}